* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav_bar_upper {
    display: flex;
    gap: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #0096C7;
    color: #000;
    padding: 10px 15px;
    margin-bottom: 0%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.nav_links svg {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    transition: color 2s ease;
    transition: transform 0.5s ease;
}

.nav_links svg:hover {
    color: #fff;
    transform: scale(1.5);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.nav_links li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.subtitulo {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.subtitulo h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.ordenar {
    color: #ffffff;
    gap: 5px;
}

.check {
    width: 30px;
    text-align: center;
}

.check input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;
    padding: 0;
}

.botonesfile {
    display:end;
    margin-top: 20px;
    width: 10%;
}

.cuerpoTabla {
    background: #fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

.findocs {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}