.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-around;
    text-transform: uppercase;
}

.nav_bar_upper {
    display: flex;
    gap: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #0096C7;
    color: #000;
    padding: 10px 15px;
    margin-bottom: 0%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.nav_links svg {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    transition: color 2s ease;
    transition: transform 0.5s ease;
}

.nav_links svg:hover {
    color: #fff;
    transform: scale(1.5);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.nav_links li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.fc .fc-toolbar-title {
    color: #0d6efd;
    font-weight: 600;
    font-size: 26px;
}

.fc-daygrid-event {
    background: #0d6efd !important;
    border: none !important;
    color: white !important;
    padding: 3px 6px;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
}