* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav_bar_upper {
    display: flex;
    gap: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #0096C7;
    color: #000;
    padding: 10px 15px;
    margin-bottom: 0%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.nav_links svg {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    transition: color 2s ease;
    transition: transform 0.5s ease;
}

.nav_links svg:hover {
    color: #fff;
    transform: scale(1.5);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.nav_links li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.subtitulo {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.subtitulo h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.botonera button {
    border: none;
    background: none;
    cursor: pointer;
}


.nav {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    border: 1px solid #000000;
}

.botonera {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.botonera a {
    place-items: center;
    text-decoration: none;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    display: inline-block;
    cursor: pointer;
    background-color: #00B4D8;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
}

.botonera a:hover {
    background-color: #0077B6;
    color: #fbff00;
    size: 1.6em;
    transform: scale(1.2);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.boton svg,
.boton .size-6 {
  width: 4.5rem;
  height: 6.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  display: block;
}

.boton svg * {
  vector-effect: non-scaling-stroke;
}

.boton, .boton a {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem; /* espacio entre texto e icono */
}

.notificaciones {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
    background: #f0f0f0;
    padding: 20px 15px;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.logout {
    position: center;
    margin: 20px auto;
    display: block;
    padding: 10px 15px;
    background-color: #0096C7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: background-color 0.3s ease;
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.logout a {
    margin-top: 5%;
    text-decoration: none;
    color: #ffffff;
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.logout a:hover {
    background-color: #0077B6;
    color: #fbff00;
    size: 1.6em;
    transform: scale(1.2);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: #0096C7;
    color: #000000;
    margin-top: 40px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}