.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-around;
    text-transform: uppercase;
}

.nav_bar_upper {
    display: flex;
    gap: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #0096C7;
    color: #000;
    padding: 10px 15px;
    margin-bottom: -2%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.nav_links svg {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    transition: color 2s ease;
    transition: transform 0.5s ease;
}

.nav_links svg:hover {
    color: #fff;
    transform: scale(1.5);
    transition: color 1s ease;
    transition: transform 0.5s ease;
}

.nav_links li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}