.contenedorPrincipal {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: fit-content;
}

.campoArchivos {
    position: relative;
    text-align: center;
    flex-direction: row;
    background: #fff;
    padding: 20px 15px;
    border-radius: 25px;   
}

.max-size-warning {
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
}

.ver {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid #0096C7;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.5s ease;
}

.ver:hover {
    background-color: #0096C7;
    color: #ffffff;
}

.subir {
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 5% auto;
}

.hidden {
  display: none;
}

#subir {
  display: none;
}

.campoArchivos{
    text-align: center;
}

.lista-categorias {
    border-collapse: collapse;
    text-align: center;
}

.categorias-select {

    color: #000000;
    border: 2px solid #0096C7;
    cursor: pointer;
        option {
            padding: 15px 20px;
            border-top: 1px solid #0096C7;
            transition-property: color;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
            &:where(:hover, :focus, :active) {
            background: dodgerblue;
            color: white;
            }
            &:checked {
            background: #0096C7;
            color: white;
            }
            &::checkmark {
            display: none;
            }
            &:first-child {
            border: 0;
        }
    }
}
