.subtitulo {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.subtitulo h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.ordenar {
    color: #ffffff;
    gap: 5px;
}

.check {
    width: 30px;
    text-align: center;
}

.check input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;
    padding: 0;
}

.botonesfile {
    display:end;
    margin-top: 20px;
    width: 10%;
}

.cuerpoTabla {
    background: #fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

.findocs {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}